@import "colors";
@import "font-size";

body {
  max-width: 1024px;
  margin: auto;
  padding: 20px;
  color: $text-color;
  font-size: $normal-font-size;
}

@import "header";
@import "footer";

hr {
  color: $light-color;
}

main, aside {
  flex: 1;
}
@media ( min-width : 600px ) {
  #contents {
    display: flex;
  }
  main {
    margin-right: 15px;
  }
  aside {
    margin-left: 15px;
  }
}

section {
  margin: 10px 0;
}

article {
  padding: 10px 0px
}
article:not(:last-child) {
  border-bottom: 1px solid $light-color;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
  }
}

.article-list h1 {
  font-size: $pretty-big-font-size;
  margin: 0 0 0 0
}

.article-meta {
  font-size: $small-font-size;
  margin: 5px 0;
}

@import "tag";

.article-content {
  @import "markdown";
}

